[Unit]
Description=Surface Pro 5 IR Camera Bridge for Howdy
After=multi-user.target
After=suspend.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/modprobe v4l2loopback exclusive_caps=1 video_nr=42 card_label="Surface IR Camera"
ExecStartPre=/usr/local/bin/setup_ipu3.sh
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
