[Unit]
Description=Surface Pro 5 IR Camera Bridge for Howdy
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/modprobe v4l2loopback exclusive_caps=1 video_nr=42 card_label="Surface IR Camera"
ExecStartPre=/usr/bin/media-ctl -d /dev/media1 -l '"ov7251 3-0060":0->"ipu3-csi2 2":0[1]'
ExecStartPre=/usr/bin/media-ctl -d /dev/media1 -V '"ipu3-csi2 2":0 [fmt:Y10_1X10/640x480]'
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
